.genreContainer {
  height: 700px;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  position: relative;

  .movieDetails {
    position: absolute;
    flex: 1;
    width: 90%;
    left: 5%;
    top: 30%;

    .genre {
      color: #FFF;
      position: relative;
      z-index: 50;
    }

    h3 {
      color: #FFF;
    }
  }

  .genreSwiper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: end;
    width: 90%;
    margin: 0 auto;

    :global(.swiper-wrapper) {
      display: flex;
      align-items: flex-end;
      width: max-content;
    }

    .slide {
      height: max-content;

      .slideImage {
        position: relative;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .movieBackdrop {
    position: absolute;
    height: 700px;

    .backdropImage {
      width: 100vw;
      height: 100%;
    }
  }
}
