.genreFullContainer {
  // height: 600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  position: relative;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 700px;

  .movieDetails {
    position: absolute;
    flex: 1;
    width: 420px;
    left: 5%;
    bottom: 30%;

    .genre {
      color: #fff;
      position: relative;
      z-index: 50;
    }

    h2 {
      color: #fff;
      font-size: 34px;
      padding: 16px 0;
    }

    .movieMetadataOverview {
      color: #fff;
      margin: 10px 0;
    }
  }

  .playerControls {
    position: absolute;
    bottom: 30%;
    right: 5%;
    z-index: 10;
  }

  .genreSwiper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;

    :global(.swiper-wrapper) {
      display: flex;
      align-items: flex-end;
      width: max-content;
    }

    .slide {
      height: max-content;

      .slideImage {
        position: relative;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .movieBackdrop {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    // height: 600px;

    .backdropImage {
      width: 100vw;
      margin: auto;
      max-height: 700px;
      // height: 100%;
      max-width: 100%;
      position: relative;
      aspect-ratio: 16 / 9;
    }

    .imageOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    }

    .videoContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      aspect-ratio: 16 / 9;
      pointer-events: none;
  
      .reactPlayer {
        opacity: 0;
        transition: opacity 0.5s ease;
        overflow: hidden;
        
        iframe {
          width: 300%;
          height: 100%;
          margin-left: -100%;
        }
      }
    }
  }

  @media only screen and (min-width: 1px) and (max-width: 480px) {
    aspect-ratio: 4/5;

    .movieDetails {
      width: 280px;
      left: 5%;
      top: 15%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      // height: 600px;

      .backdropImage {
        aspect-ratio: 4/5;
      }
    }
  }

  @media only screen and (min-width: 480px) {
    aspect-ratio: 4/5;

    .movieDetails {
      width: 320px;
      left: 5%;
      bottom: 15%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      // height: 600px;

      .backdropImage {
        aspect-ratio: 4/5;
      }
    }
  }

  @media only screen and (min-width: 768px) {
    // height: 600px;

    .movieDetails {
      width: 360px;
      left: 5%;
      bottom: 20%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      height: 700px;
    }
  }

  @media only screen and (min-width: 992px) {
    // height: 600px;

    .movieDetails {
      width: 420px;
      left: 5%;
      bottom: 30%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      height: 700px;
    }
  }

  @media only screen and (min-width: 1200px) {
    // height: 600px;

    .movieDetails {
      width: 420px;
      left: 5%;
      bottom: 30%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      height: 700px;
    }
  }
}

@keyframes loading {
  0% {
    background-position: -500px 0px;
  }
  100% {
    background-position: 500px 0px;
  }
}

.genrePosterContainer {
  width: 95%;
  margin: 0 auto 20px auto;

  .genreTypeWrapper {
    margin: 12px 0;
  }

  .genreSwiper {
    .slideImage {
      width: 100%;
      border-radius: 10px;
    }

    margin-bottom: 20px;
  }
}

.genreBackdropContainer {
  width: 95%;
  margin: 0 auto 20px auto;

  .genreTypeWrapper {
    margin: 12px 0;
  }

  .backdropWrapper {
    position: relative;

    .backdropImage {
      height: 700px;
      // filter: brightness(0.7);
    }

    .imageOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    }
  }
}

.divider {
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
}

.posterImage {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 10px;
}

.backdropImage {
  width: 100%;
  position: relative;
  aspect-ratio: 16/9;
  display: block;
}
