.genreFullContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  position: relative;
  max-width: 100%;
  aspect-ratio: 4 / 5;
  max-height: 500px;

  .movieDetails {
    position: absolute;
    flex: 1;
    width: 420px;
    left: 5%;
    bottom: 30%;

    .genre {
      color: #fff;
      position: relative;
      z-index: 50;
    }

    h2 {
      color: #fff;
      font-size: 34px;
      padding: 16px 0;
    }

    .movieMetadataOverview {
      color: #fff;
      margin: 10px 0;
    }
  }

  .playerControls {
    position: absolute;
    bottom: 30%;
    right: 5%;
    z-index: 10;
    transition: bottom 1s ease;

    &.playing {
      transition: bottom 1s ease;
      bottom: 16px;
    }
  }

  .genreSwiper {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;

    :global(.swiper-wrapper) {
      display: flex;
      align-items: flex-end;
      width: max-content;
    }

    &.playing {
      display: none;
    }

    .slide {
      height: max-content;

      .slideWrapper {
        position: relative;

        .slideImage {
          position: relative;
          width: 100%;
          border-radius: 10px;
          background: #ddd;
        }

        svg {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
    }
  }

  .movieBackdrop {
    position: absolute;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    max-height: 500px;

    .backdropImage {
      display: block;
      width: 100vw;
      margin: auto;
      max-height: 500px;
      max-width: 100%;
      position: relative;
      aspect-ratio: 4 / 5;
    }

    .imageOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    }

    .videoContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      aspect-ratio: 16 / 9;
      pointer-events: none;

      .reactPlayer {
        opacity: 0;
        transition: opacity 0.5s ease;
        overflow: hidden;

        iframe {
          width: 300%;
          height: 100%;
          margin-left: -100%;
        }
      }
    }
  }
}

.genrePosterContainer {
  width: 90%;
  margin: 0 auto 20px auto;

  .genreTypeWrapper {
    margin: 12px 0;
  }

  .genreSwiper {
    .slide {
      width: 16%;
      margin-right: 18px;
    }

    .backdropImageWrapper {
      width: 100%;
      aspect-ratio: 2 / 3;

      .slideImage {
        width: 100%;
        border-radius: 10px;
        background: #ddd;
      }
    }

    margin-bottom: 20px;
  }
}

.genreBackdropContainer {
  width: 90%;
  margin: 0 auto 20px auto;

  .genreTypeWrapper {
    margin: 12px 0;
  }

  .genreSwiper {
    margin-bottom: 20px;

    .videoContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100vh;
      aspect-ratio: 16 / 9;
      pointer-events: none;

      .reactPlayer {
        opacity: 0;
        transition: opacity 0.5s ease;
        overflow: hidden;

        iframe {
          width: 300%;
          height: 100%;
          margin-left: -100%;
        }
      }
    }
  }

  .backdropWrapper {
    position: relative;

    .backdropImage {
      max-height: 400px;
      width: 100%;
      aspect-ratio: 3 / 4;
    }

    .imageOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    }
  }

  .playerControls {
    position: absolute;
    bottom: 36px;
    right: 5%;
    z-index: 10;
  }
}

.divider {
  border-top: 0.5px solid rgba(0, 0, 0, 0.15);
}

@keyframes loading {
  0% {
    background-position: -500px 0px;
  }
  100% {
    background-position: 500px 0px;
  }
}

@media only screen and (min-width: 480px) {
  .genreFullContainer {
    aspect-ratio: 4/5;

    .movieDetails {
      width: 320px;
      left: 5%;
      bottom: 15%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop .backdropImage {
      aspect-ratio: 4/5;
      max-height: 500px;
    }
  }

  .genreBackdropContainer {
    .backdropWrapper {
      position: relative;

      .backdropImage {
        max-height: 500px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .genreFullContainer {
    .movieDetails {
      width: 360px;
      left: 5%;
      bottom: 30%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      max-height: 500px;
    }
  }

  .genrePosterContainer {
    width: 95%;
  }

  .genreBackdropContainer {
    width: 95%;
    .backdropWrapper {
      position: relative;

      .backdropImage {
        max-height: 600px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .genreFullContainer {
    max-height: 700px;

    .movieDetails {
      width: 420px;
      left: 5%;
      bottom: 30%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      max-height: 700px;

      .backdropImage {
        max-height: 700px;
      }

      .imageOverlay {
        max-height: 700px;
      }
    }
  }

  .genrePosterContainer {
    width: 95%;
  }

  .genreBackdropContainer {
    width: 95%;
    .backdropWrapper {
      position: relative;

      .backdropImage {
        max-height: 700px;
        width: 100%;
        aspect-ratio: 3 / 4;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .genreFullContainer {
    max-height: 700px;

    .movieDetails {
      width: 420px;
      left: 5%;
      bottom: 30%;
    }

    .genreSwiper {
      width: 90%;
    }

    .movieBackdrop {
      max-height: 700px;

      .backdropImage {
        max-height: 700px;
      }

      .imageOverlay {
        max-height: 700px;
      }
    }
  }

  .genrePosterContainer {
    width: 95%;
  }

  .genreBackdropContainer {
    width: 95%;

    .backdropWrapper {
      position: relative;

      .backdropImage {
        max-height: 700px;
        width: 100%;
        aspect-ratio: 3 / 4;
      }
    }
  }
}
