.videos {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;

    .videosList {
        display: flex;
        flex-direction: row;
    }

    .movieSlide {
        aspect-ratio: 16 / 9;
        display: flex;
        flex-direction: row;
        // width: 80%;

        iframe {
            border-radius: 8px;
        }
    }
}
