.videos {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 16px auto;

    .titleWrapper {
        margin-bottom: 16px;
    }

    .videosList {
        display: flex;
        align-items: center;

        .back {
            cursor: pointer;
            &.disabled {
                visibility: hidden;
                pointer-events: none;
            }
        }

        .next {
            cursor: pointer;
            &.disabled {
                visibility: hidden;
                pointer-events: none;
            }
        }

        .videosSwiper {
            flex: 1;

            .movieSlide {
                display: flex;
                flex-direction: row;

                .videoContent {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    .videoImage {
                        position: relative;
                        aspect-ratio: 16 / 9;
                        width: 100%;
                        height: 180px;
                        max-width: 320px;

                        .image {
                            border-radius: 6px;
                        }

                        // &.loading {
                        //     background: linear-gradient(120deg, #e5e5e5 30%, #ffffff 38%, #f2f2f2 40%, #e5e5e5 48%);
                        //     background-size: 200% 100%;
                        //     background-position: 100% 0;
                        //     animation: load 1.4s infinite;
                        //     width: 100%;
                        //     height: 180px;

                        //     @keyframes load {
                        //         100% {
                        //             background-position: -100% 0;
                        //         }
                        //     }
                        // }

                        svg {
                            display: none;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            cursor: pointer;
                        }

                        &:hover svg {
                            display: block;
                        }
                    }
                    .videoName {
                        color: #000;
                        margin: 6px 0;
                    }
                }

                iframe {
                    border-radius: 8px;
                    // width: 300%;
                    // height: 100%;
                    // margin-left: -100%;
                }
            }
        }
    }
}

div.movieModalOverlay,
div.movieModalContainer {
    animation-fill-mode: forwards !important;
    padding: 0;
    margin: 0;
}

div.movieModal {
    animation-fill-mode: forwards !important;
    border-radius: 6px;
    position: relative;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
