.genrePosterContainer {
    width: 95%;
    margin: 20px auto;
    position: relative;

    .genreTypeWrapper {
        margin: 12px 0;

        .custom {
            color: #fff;
            font-weight: 400;
        }
    }

    .genreSwiper {
        .slide {
            width: 16%;
            margin-right: 18px;
        }

        .backdropImageWrapper {
            width: 100%;
            aspect-ratio: 2 / 3;

            .slideImage {
                width: 100%;
                border-radius: 10px;
                background: #ddd;
            }
        }

        margin-bottom: 20px;
    }
}

.divider {
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
