.main {
    // display: flex;
    // flex-direction: column;
    .popular-container {
        margin: 24px;
    }

    .trending-container {
        margin: 24px;
    }

    .landing-container {
        position: relative;

        .landing-metadata {
            position: absolute;
            bottom: 36px;
            left: 48px;
            max-width: 260px;

            .movie-metadata {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 6px 0;

                .landing-metadata-image {
                    width: 100%;
                    aspect-ratio: 7/8;
                    border-radius: 16px;
                    margin-bottom: 10px;
                }

                .landing-metadata-overview {
                    color: #fff;
                    text-overflow: ellipsis;
                    white-space: normal;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    margin-bottom: 10px;
                    font-size: 20px;
                }

                .landing-metadata-details {
                    width: 40%;
                    height: 36px;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 16px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .poster-image {
        width: 100%;
        aspect-ratio: 2 / 3;
        border-radius: 10px;
    }

    .backdrop-image {
        width: 100%;
        max-height: 100vh;
        aspect-ratio: 16 / 9;
    }
}
