.movies {
    // display: flex;
    // flex-direction: column;
    .popularContainer {
        margin: 24px;
    }

    .trendingContainer {
        margin: 24px;
    }

    .landingContainer {
        position: relative;

        .landingMetadata {
            position: absolute;
            bottom: 36px;
            left: 48px;
            max-width: 260px;
            z-index: 5;

            .movieMetadata {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 6px 0;

                .landingMetadataImage {
                    width: 100%;
                    aspect-ratio: 7/8;
                    border-radius: 16px;
                    margin-bottom: 10px;
                }

                .landingMetadataOverview {
                    color: #fff;
                    overflow: hidden;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    margin-bottom: 10px;
                    font-size: 18px;
                    transition: 0.6s;
                    max-height: 85px;

                    &.metadataFull {
                        max-height: 300px;
                    }
                }

                .landingMetadataDetails {
                    width: 40%;
                    height: 36px;
                    border-radius: 8px;
                    font-weight: 700;
                    font-size: 16px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                }
            }
        }

        .videoContainer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-height: 100vh;
            aspect-ratio: 16 / 9;
        }
    }

    .posterImage {
        width: 100%;
        aspect-ratio: 2 / 3;
        border-radius: 10px;
    }

    .backdropImage {
        width: 100%;
        max-height: 100vh;
        aspect-ratio: 16 / 9;
    }
}
