.landingContainer {
  position: relative;

  .playerControls {
    position: absolute;
    bottom: 36px;
    right: 48px;
    z-index: 10;
    display: none;
  }

  .videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    aspect-ratio: 16 / 9;
    pointer-events: none;

    .reactPlayer {
      opacity: 0;
      transition: opacity 0.5s ease;

      iframe {
        width: 300%;
        height: 100%;
        margin-left: -100%;
      }
    }
  }

  .imagePlaceholder {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loading;
    animation-timing-function: linear;
  }

  .hidden {
    display: none;
  }
}

.posterImage {
  width: 100%;
  aspect-ratio: 2 / 3;
  border-radius: 10px;
}

.backdropImageWrapper {
  width: 100%;
  max-height: 100vh;
  aspect-ratio: 3 / 4;
  display: block;

  .backdropImage {
    width: 100%;
  }

  .imageOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
  }
}

/* Common styles for all media queries */

@media only screen and (min-width: 768px) {
  .landingContainer {

    .playerControls {
      display: block;
    }

    .videoContainer {
      aspect-ratio: 16 / 9;
    }
  }
}

@media only screen and (min-width: 992px) {
  .landingContainer {

    .playerControls {
      display: block;
    }

    .videoContainer {
      aspect-ratio: 16 / 9;
    }
  }
}

/* Styles for large screens */

@media only screen and (min-width: 1200px) {
  .landingContainer {

    .playerControls {
      display: block;
    }

    .videoContainer {
      aspect-ratio: 16 / 9;
    }
  }
}
/* Keyframes and animation styles */

@keyframes loading {
  0% {
    background-position: -500px 0px;
  }
  100% {
    background-position: 500px 0px;
  }
}
