.movieVideos {
  position: relative;

  .trailerBtn {
    display: flex;
    padding: 6px 0;
    align-items: center;
  }
}

.movieModal {
  border-radius: 6px;
  position: relative;
  padding: 0;

  .coverImage {
    position: relative;

    img {
      position: relative !important;
    }
  }

  .movieDescription {
    border-bottom: 1px;
  }

  .videosList {
    font-family: Montserrat;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;

    .movieVids {
      h3 {
        color: #000;
        z-index: 10;
        font-size: 20px;
      }
    }
  }
}
