.movieVideos {
  position: relative;

  .trailerBtn {
    display: flex;
    padding: 6px 0;
    align-items: center;
  }
}

.movieModalOverlay,
.movieModalContainer {
  animation-fill-mode: forwards !important;
}

.movieModal {
  animation-fill-mode: forwards !important;
  border-radius: 6px;
  position: relative;
  padding: 0;

  .coverImage {
    position: relative;
    width: 100%;
    height: 450px;

    // &.loading {
    //   background: linear-gradient(120deg, #e5e5e5 30%, #ffffff 38%, #f2f2f2 40%, #e5e5e5 48%);
    //   background-size: 200% 100%;
    //   background-position: 100% 0;
    //   animation: load 1.4s infinite;

    //   @keyframes load {
    //     100% {
    //       background-position: -100% 0;
    //     }
    //   }
    // }

    img {
      position: relative !important;
    }
  }

  .movieDescription {
    padding: 20px 0;
    width: 90%;
    margin: auto;

    .movieOverview {
      margin: 12px 0;
      font-weight: normal;
      line-height: 1.7;
    }

    .movieMeta {

    }
  }

  .videosList {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;

    .movieVids {
      h3 {
        color: #000;
        z-index: 10;
        font-size: 20px;
      }
    }
  }
}
